<ion-content class="ion-padding">
  <div class="welcomecard p-3" style="margin-top: 55%;">
  <div *ngIf="LoginAccount">
    <div class="title">
      <div class="row">
        <div class="col-12 mx-1">
          <h4><b>Login</b></h4>
        </div>
       
      </div>
      <p class="mx-1">Lets get started</p>
    </div>

    <div style="margin-top: -10px;" class="row">
      <div class="col-{{MobInputcolSize}}">
        <ion-input style="color: #000000;" [(ngModel)]="mailid" placeholder="Enter Your Mail ID" class="primary-input"
          (keyup)="mailidCheckFalse()"></ion-input>
        <p class="small" style="color: #EB154B;" *ngIf="isNotEmailAlert">Enter Valid Mail ID</p>
      </div>
    </div>


    <ion-input style="color: #000000;" [(ngModel)]="password" placeholder="Enter Your Password" type="password"
      class="primary-input"></ion-input>
    <p class="small ion-text-left mx-1" (click)="forgotpassword()">Forgot Password ?</p>
    <div class="ion-margin-top">
      <ion-button expand="block" class="secondarySmallBtn" color="none" (click)="signIn()" ><b>LOGIN</b></ion-button>
      <p class="text-center small mt-3">New User ? <b (click)="signup()">Sign Up</b></p>
    </div>
  </div>
  <div *ngIf="VerifyAccount">
    <b>
      <p class="small">Verify Your Account : </p>
    </b>
    <ion-input style="color: #000000;" [(ngModel)]="mobilenumber" placeholder="Enter Your SignUp Phone Number"
      type="number" class="primary-input"></ion-input>
    <ion-button class="secondarySmallBtn"  expand="block" color="none" (click)="verifyAccount()"><b>VERIFY</b></ion-button>
  </div>
</div>
</ion-content>