<ion-content class="ion-padding">
  <div class="welcomecard p-3" style="margin-top: 55%;">

  <div class="title">
    <div class="row">
      <div class="col-10">
        <h4><b>OTP Verification</b></h4>
      </div>
      <div class="col-2">
        <div class="ion-margin-top ion-text-center">
          <svg (click)="dismiss()" width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="9" fill="red" fill-opacity="0.25" />
            <path d="M16 8L8 16" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
            <path d="M8 8L16 16" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
          </svg>
        </div>
      </div>
    </div>
    <p>OTP Has Been Send To Your Mobile Number : <br>{{mobileNumber}}</p>
  </div>


  <p>Enter Your OTP : </p>
  <ion-input style="color: #000000;" [(ngModel)]="otp" 
    placeholder="- - - -" class="primary-input"></ion-input>


  <div class="ion-margin-top">
    <ion-button  expand="block" color="dark" (click)="verifyOTP()">Verify OTP</ion-button>
    <p class="resendotp p-2 small" >Resend OTP Will Be Available in {{otpseconds}} Seconds</p>
    <ion-button  expand="block" color="dark" (click)="SendOTP()" *ngIf="resendOtpVisible">Resend OTP</ion-button>
  </div>


</div>

</ion-content>