
.dot {
    margin: 2px;
    height: 27px;
    width: 30px;
    background:var(--ion-color-secondary);
    color:var(--ion-color-light);
    border-radius: 50%;
    display: inline-block;
  }

  .btn-set-new-alarm{
    border-radius: 5px !important;
    background: var(--ion-color-secondary);
    color:var(--ion-color-light);
    width: 80%;
    margin:15px;
    margin-left: -20px;
  }

ion-content {
    background-color:var(--ion-color-light) !important;
    // background: linear-gradient(to bottom, #8cdbe2
    // 0%, #d1f2e7
    // 100%) !important;
  
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }