<!------------ Header  ---------------->
<ion-toolbar color="light" >
  <ion-buttons slot="start">
      <ion-menu-button style="margin-top:15px;color:#121212" autoHide="false">
        <svg  width="34" height="34" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 7H19" stroke="#121212" stroke-width="2" stroke-linecap="round"/>
          <path d="M5 12H15" stroke="#121212" stroke-width="2" stroke-linecap="round"/>
          <path d="M5 17H11" stroke="#121212" stroke-width="2" stroke-linecap="round"/>
          </svg>
      </ion-menu-button>
  </ion-buttons>

  <div class="row">
    <div class="col-4">
      <h5 style="color:#121212;margin-top:10px"><b></b></h5>
    </div>
    <div class="col-8 mt-2 mx-2" style="text-align: right;width: 90%;">
        <svg (click)="notification()" style="margin:3px;" width="26" height="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7942 3.29494C13.2296 3.10345 12.6258 3 12 3C9.1535 3 6.7622 5.14032 6.44786 7.96942L6.19605 10.2356L6.1896 10.2933C6.06065 11.417 5.69489 12.5005 5.11646 13.4725L5.08667 13.5222L4.50863 14.4856C3.98408 15.3599 3.7218 15.797 3.77842 16.1559C3.8161 16.3946 3.93899 16.6117 4.12435 16.7668C4.40292 17 4.9127 17 5.93224 17H18.0678C19.0873 17 19.5971 17 19.8757 16.7668C20.061 16.6117 20.1839 16.3946 20.2216 16.1559C20.2782 15.797 20.0159 15.3599 19.4914 14.4856L18.9134 13.5222L18.8836 13.4725C18.4273 12.7059 18.1034 11.8698 17.9236 10.9994C15.1974 10.9586 13 8.73592 13 6C13 5.00331 13.2916 4.07473 13.7942 3.29494ZM16.2741 4.98883C16.0999 5.28551 16 5.63109 16 6C16 6.94979 16.6621 7.74494 17.5499 7.94914C17.4205 6.82135 16.9608 5.80382 16.2741 4.98883Z" fill="black"/>
          <path d="M9 17C9 17.394 9.0776 17.7841 9.22836 18.1481C9.37913 18.512 9.6001 18.8427 9.87868 19.1213C10.1573 19.3999 10.488 19.6209 10.8519 19.7716C11.2159 19.9224 11.606 20 12 20C12.394 20 12.7841 19.9224 13.1481 19.7716C13.512 19.6209 13.8427 19.3999 14.1213 19.1213C14.3999 18.8427 14.6209 18.512 14.7716 18.1481C14.9224 17.7841 15 17.394 15 17L12 17H9Z" fill="black"/>
          <circle cx="18" cy="6" r="2.5" fill="#eb154b" stroke="#eb154b"/>
          </svg>
          

    </div>
  </div>
</ion-toolbar>


<ion-content>

  <div class="container">
    <h3 class="mt-4 mx-2" style="color: #0D0D0D;"><b>Offer alarm:</b></h3>
    <div class="mt-3 signin-div  ">
      <ion-segment class="custom-iconion-text-center mt-2" style="width: 100%;" value="instagram">
        <ion-segment-button (click)="forProduct()" class="segment-facebook" value="facebook" layout="icon-bottom">
          <ion-label>For Product</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="forStore()" class="segment-instagram" value="instagram" layout="icon-bottom">
          <ion-label>For Store</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div  style="padding: 0;margin:0;" class=" container row mb-3">
        <div *ngIf="forstore" class="col-12 mt-4">
          <p class="mx-2">
           
            Store name:
          </p>
        </div>
        <div *ngIf="forstore" class=" col-12 ">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <div class="inputWithIcon">
                    <ion-searchbar (keypress)="searchStore()" [(ngModel)]="selectStore" type="text"
                      placeholder="Search...."></ion-searchbar>
                  </div>
                </div>

              </div>
            </div>




            <!-- search suggesion list for store -->

            <div *ngIf="isVisible">
              <ion-list *ngFor="let store of getStoreList | filter:selectStore">
                <div class="row">
                  <div class="col-10">
                    <ion-item (click)="selectStoreForGetStoreDetails(store.tbid,store.store_name)" class="mx-3">
                      {{store.store_name}}</ion-item>
                  </div>
                  <div class="col-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-arrow-up-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M2 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H3.707l10.147 10.146a.5.5 0 0 1-.708.708L3 3.707V8.5a.5.5 0 0 1-1 0v-6z" />
                    </svg>
                  </div>
                </div>

              </ion-list>
            </div>

          </div>
        </div>

        <!---------- select Store For Product SetAlarm  ----------------->

    
        <div *ngIf="forproduct" class="col-12 mt-4">
          <p class="mx-2">
            Store name:
          </p>
        </div>
        <div *ngIf="forproduct" class=" col-12 ">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <div class="inputWithIcon">
                    <ion-searchbar (keypress)="searchStores()" [(ngModel)]="selectStore" type="text"
                      placeholder="Search...."></ion-searchbar>
                  </div>
                </div>

              </div>
            </div>




            <!-- search suggesion list for store -->

            <div *ngIf="forproductlist">
              <ion-list *ngFor="let store of getStoreList | filter:selectStore">
                <div class="row">
                  <div class="col-10">
                    <ion-item (click)="selectStoreForProductSetAlarm(store.tbid,store.store_name)" class="mx-3">
                      {{store.store_name}}</ion-item>
                  </div>
                  <div class="col-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-arrow-up-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M2 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H3.707l10.147 10.146a.5.5 0 0 1-.708.708L3 3.707V8.5a.5.5 0 0 1-1 0v-6z" />
                    </svg>
                  </div>
                </div>

              </ion-list>
            </div>

          </div>
        </div>


        <div *ngIf="forproduct" class="col-12 mt-3">
          <p class="mx-2">Product name:</p>
        </div>
        <div *ngIf="forproduct" class="col-12 ">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <div class="inputWithIcon">
                    <ion-searchbar (keypress)="productSearchBasedOnStore()" [(ngModel)]="selectProductName" type="text"
                      placeholder="Search...."></ion-searchbar>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- search suggesion list for product -->

    <div *ngIf="IfproductNamePresent">
      <ion-list *ngFor="let search of productNameList | filter:selectProductName">
        <div class="row">
          <div class="col-10">
            <ion-item (click)="selectProductToSetAlarm(search.product)" class="mx-3">{{search.product}}</ion-item>
          </div>
          <div class="col-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrow-up-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M2 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H3.707l10.147 10.146a.5.5 0 0 1-.708.708L3 3.707V8.5a.5.5 0 0 1-1 0v-6z" />
            </svg>
          </div>
        </div>

      </ion-list>
    </div>

    <!-- <h5 class="mx-2" style="color: #5C5C5C;">Results:</h5> -->

    <!-- set alarm product result -->

    <div class="container">
      <div class="row mb-2">
        <div *ngIf="resultProductCardVisible" id="productCard" class="col-12 ion-text-center">
          <div class="row mt-2">
            <div class="col-4">
              <img src="{{storeLogo}}" style="margin:1px;" height="25px" width="25px" alt="">
              
            </div>
            <div class="col-8 ion-text-left">
              <span style="font-size: 15px;color:#404040;"><b>{{storeName}}</b></span>

            </div>
            <div  class="col-9 ion-text-left mt-2">
              <img id="product_img" src="{{productImage}}" alt="">
            </div>

            <div class="col-3 mt-2">
              <!-- <div>
                <ion-icon  id="heart" style="margin-left:3px" (click)="selectedItem(product.tbid)"
                [ngClass]="{'green' : toggle, 'red': !toggle}" name="heart-sharp"></ion-icon>
              </div> -->
              <div>
                <ion-badge color="success" style="margin-left: -5px;" >{{weight}}{{unit}}</ion-badge>
              </div>
            </div>

            <div class="col-12 ion-text-left mt-1">
              <p style="padding: 0; margin:0;color: #272A3F;font-size: 13px;">Product Name : {{productName}}</p>
            </div>
            <div class="col-12 ion-text-left ">

              <p><span style="padding:0;font-size:13px;">
                  Price : ₹ {{totalCost}}</span></p>
            </div>
            <div class="col-12 ion-text-left pb-2">
              <p style="padding: 0; margin-top:-12px;color: #272A3F;font-size: 13px;">
                 Product Description : 
                {{description}}
              </p>
            </div>
      
          </div>
        </div>

      </div>
    </div>

    <!-- set alarm store result -->

    <div *ngIf="resultStoreCardVisible" class="col-12 ion-text-center">
      <div style="height: 75px;" class="card" >
        <div class="row">
          <div class="col-4 mt-1 mb-3">
            <img src="{{storeLogForStore}}" style="margin: 5px;" height="55px" width="55px" alt="">
          </div>
          <div class="col-8 mt-4 mb-2">
            <span style="font-size: 18px;color:#404040"><b>{{storeNameForSrore}}</b></span>
          </div>
        </div>
      </div>
    </div>

    <!-- set alarm button for product -->
    <div *ngIf="forProductbtnVisible" class="col-12 ion-text-center mt-4 mb-2">

      <ion-button style="width: 90%;margin: auto;" color="none"  class="secondaryLargeBtn" expand="block"  (click)="setAlarmForProduct()">
        <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="currentColor"
        class="bi bi-alarm-fill" viewBox="0 0 16 16">
        <path
          d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zm2.5 5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527z" />
      </svg>
        <b> &nbsp; Set Alarm</b></ion-button>

    </div>

    <!-- set alarm button for store -->
    <div *ngIf="forStorebtnVisible" class="col-12 ion-text-center mt-4 mb-2">

      <ion-button style="width: 90%;margin: auto;" color="none"  class="secondaryLargeBtn" expand="block"  (click)="setAlarmForStore()">
        <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="currentColor"
        class="bi bi-alarm-fill" viewBox="0 0 16 16">
        <path
          d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zm2.5 5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527z" />
      </svg>
        <b> &nbsp; Set Alarm</b></ion-button>

    </div>

  </div>
</ion-content>