// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  /** primary **/
  --ion-color-primary: #EB154B;
  --ion-color-primary-rgb: 238, 70, 89;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #EB154B;
  --ion-color-primary-tint: #EB154B;


  

   /** secondary Color **/
   --ion-color-secondary: #222528;
   --ion-color-secondary-rgb: 238, 70, 89;
   --ion-color-secondary-contrast: #ffffff;
   --ion-color-secondary-contrast-rgb: 255, 255, 255;
   --ion-color-secondary-shade: #676767;
   --ion-color-secondary-tint: #353637;


  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #f0eeee;
  --ion-color-light-contrast-rgb: 238, 70, 89;
  --ion-color-light-shade: #F4F7FA;
  --ion-color-light-tint: #ffffff;


  /** success **/
  --ion-color-success: #23d5ab;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #23d5ab;
  --ion-color-success-tint: #23d5ab;

  /** warning **/
  --ion-color-warning: red;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: red;
  --ion-color-warning-tint: red;
  


}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
