<ion-content class="ion-padding">
  <div class="welcomecard p-3" style="margin-top: 55%;">

  <div class="title">
    <div class="row">
      <div class="col-10">
        <h4><b>Forgot Password </b></h4>
      </div>
      <div class="col-2">
        <div class="ion-margin-top ion-text-center">

          <svg (click)="dismiss()" style="cursor:pointer" width="24" height="27"
          viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_1056_2574)">
            <path d="M18 6L6 18" stroke="#EB154B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M6 6L18 18" stroke="#EB154B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </g>
          <defs>
            <filter id="filter0_d_1056_2574" x="-4" y="0" width="32" height="32" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dy="4" />
              <feGaussianBlur stdDeviation="2" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1056_2574" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1056_2574" result="shape" />
            </filter>
          </defs>
        </svg>


         
        </div>
      </div>
    </div>
  </div>


  <div style="margin-top: -7%;" *ngIf="OTPField">
    <div class="row">
      <div class="col-12">
        <ion-input style="color: #000000;" [(ngModel)]="PhoneNumber" placeholder="Enter Your Phone Number"
          class="primary-input"></ion-input>
      </div>



      <ion-button style="width: 90%;margin:auto"  class="secondarySmallBtn mt-2 mb-4" color="none" expand="block" 
      (click)="SendOTP()">

      <b> Send OTP</b>
    </ion-button>


 

    </div>


    <ion-input style="color: #000000;" [(ngModel)]="OneTimePassword" placeholder=" - - - - " type="password"
      class="primary-input"></ion-input>


      <p class="resendotp p-2 small" *ngIf="IfSendOTPClicked">Resend OTP Will Be Available in {{otpseconds}} Seconds</p>

      <ion-button *ngIf="resendOtpVisible" class="secondarySmallBtn mb-4" color="none" expand="block" 
      (click)="ReSendOTP()">

      <b> Resend OTP</b>
    </ion-button>

    <!-- <ion-button class="btn btn-sm text-white" color="success" (click)="NaviagtetoBack()">
    Back</ion-button> -->

    <div class="row">
      <div class="col-12">
        <ion-button *ngIf="AfterSixtySeconds" class="secondarySmallBtn  mb-4" color="none" expand="block" 
        (click)="ReSendOTP()">

        <b> Send OTP</b>
      </ion-button>
      </div>

      <div class="col-12">
        <ion-button *ngIf="isOTPsent" class="secondarySmallBtn mb-4" color="none" expand="block" 
        (click)="verifyOTP()">
        <b> Verify OTP</b>
      </ion-button>
      </div>
    </div>

  </div>


  <div class="input-field mb-5" *ngIf="PasswordField">

    <ion-input style="color: #000000;" [(ngModel)]="password" placeholder="Enter Your Password" type="password"
    (keyup)="passwordCheckFalse()" class="primary-input"></ion-input>
      <p class="small" style="color:#EB154B;" *ngIf="passwordCheck">Your password must be 8-16
        characters, and include at least one lowercse letter, one uppercase letter, and a number</p>


    <ion-input style="color: #000000;" [(ngModel)]="confirmPassword" placeholder="Confirm Your Password" type="password"
      class="primary-input"></ion-input>

    <ion-button class="btn btn-sm text-white" color="dark" (click)="confirmThePassword()">
      Submit</ion-button>

  </div>

</div>
</ion-content>