<ion-content class="ion-padding">
  <div class="welcomecard p-3" style="margin-top: 55%;">

  <div class="title">
    <div class="row">
      <div class="col-10">
        <h4><b>Forgot Password </b></h4>
      </div>
      <div class="col-2">
        <div class="ion-margin-top ion-text-center">
          <svg (click)="dismiss()" width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="9" fill="red" fill-opacity="0.25" />
            <path d="M16 8L8 16" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
            <path d="M8 8L16 16" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
          </svg>
        </div>
      </div>
    </div>
  </div>


  <div style="margin-top: -7%;" *ngIf="OTPField">
    <div class="row">
      <div class="col-12">
        <ion-input style="color: #000000;" [(ngModel)]="PhoneNumber" placeholder="Enter Your Phone Number"
          class="primary-input"></ion-input>
      </div>


      <ion-button class="ion-margin-top" color="dark" (click)="SendOTP()">

        <span style="margin-top: 4px;" class="px-4">Send OTP</span>
      </ion-button>

    </div>


    <ion-input style="color: #000000;" [(ngModel)]="OneTimePassword" placeholder=" - - - - " type="password"
      class="primary-input"></ion-input>


    <p class="small text-center mt-1">Resend OTP Will Be Enabled In 60 Seconds</p>
    <!-- <ion-button class="btn btn-sm text-white" color="success" (click)="NaviagtetoBack()">
    Back</ion-button> -->

    <div class="row">
      <div class="col-5">
        <ion-button class="ion-margin-top" color="dark" (click)="ReSendOTP()" *ngIf="AfterSixtySeconds">
          <span style="margin-top: 4px;" class="px-4">Send OTP </span>
        </ion-button>
      </div>

      <div class="col-5">
        <ion-button class="ion-margin-top" color="dark" (click)="verifyOTP()" *ngIf="isOTPsent"><span
            style="margin-top: 4px;" class="px-4">Verify OTP  </span>
        </ion-button>
      </div>
    </div>

  </div>


  <div class="input-field mb-5" *ngIf="PasswordField">

    <ion-input style="color: #000000;" [(ngModel)]="password" placeholder="Enter Your Password" type="password"
    (keyup)="passwordCheckFalse()" class="primary-input"></ion-input>
      <p class="small" style="color:#EB154B;" *ngIf="passwordCheck">Your password must be 8-16
        characters, and include at least one lowercse letter, one uppercase letter, and a number</p>


    <ion-input style="color: #000000;" [(ngModel)]="confirmPassword" placeholder="Confirm Your Password" type="password"
      class="primary-input"></ion-input>

    <ion-button class="btn btn-sm text-white" color="dark" (click)="confirmThePassword()">
      Submit</ion-button>

  </div>

</div>
</ion-content>