/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-color-white {
    --ion-color-base: var(--ion-color-white);
    --ion-color-base-rgb: var(--ion-color-white-rgb);
    --ion-color-contrast: var(--ion-color-white-contrast);
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
    --ion-color-shade: var(--ion-color-white-shade);
    --ion-color-tint: var(--ion-color-white-tint);
}

.login-modal .modal-wrapper {
    height: 45%;
    top: 55%;
    position: absolute;
    display: block;
    border-radius: 20px 20px 0 0;
}

.register-modal .modal-wrapper {
    height: 50%;
    top: 50%;
    position: absolute;
    display: block;
    border-radius: 20px 20px 0 0;
}

.primary-input {
    background: aliceblue;
    --padding-start: 10px !important;
    color: #999999;
    border-radius: 5px;
    margin-bottom: 10px;
}


// @font-face {
//   font-family: "InterRegular";
//   src: local("InterRegular"),
//     url("./assets/Inter/Inter-Regular.ttf") format("truetype");
// }
// @font-face {
//   font-family: "InterBold";
//   src: local("InterBold"),
//     url("./assets/Inter/Inter-Bold.ttf") format("truetype");
// }

*{
  // font-family: 'Cinzel', serif;
  // font-family: 'Marcellus SC', serif;
  font-family: 'Roboto', sans-serif;   
  // font-family: 'Poppins', sans-serif;
}
  
 
  .welcome{
      font-family: 'InterRegular';
      font-size: 40px;
      color: #565455
      ;
      text-shadow: 0px 0px 0px #000000;
  }
  .seller{
      font-family: 'Roboto', sans-serif;
      font-size: 34px;
      font-weight: 25px;
      color:  var(--ion-color-primary);
      text-shadow: 2px 2px 4px #ccc;
      margin-left: 5px;
      
  }
  .card{
    border:1px solid  var(--ion-color-light);
    border-radius: 3px;
    box-shadow: 4px 4px 4px 4px #ccc;
    margin-bottom: 20px;
    margin-right:4px;
    cursor: pointer;
  }
  #productCard{
    border: 1px solid #959ca32e;
    box-shadow: 1px 1px 1px 1px #ccc;
    margin-left: 8px !important;
    margin-right:6px !important;
    margin: 6px;
    width: 45%;
    background-color: var(--ion-color-light) !important;
    border-radius: 6px;
  }
  .icon{
      margin:10px;
      background-color: var(--ion-color-light);
      border:1px solid var(--ion-color-light);
      padding: 5px;
      box-shadow: 2px 2px 2px 2px #ebe6e6;
      border-radius: 10px;
  }
  // .bg-class{
  //     --background: linear-gradient(to bottom, #8cdbe2
  //     0%, #d1f2e7
  //     100%) !important;
  
  //   }
    // .bgcolor-class{
    //   --background: linear-gradient(to bottom, #FEC401 0%, #FEC401 100%) !important;
  
    // }
    .signin-div{
      background: var(--ion-color-light);
      border-radius: 5px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.2px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      
      
    }
    #overlay {
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 2;
      cursor: pointer;
    }
    #card{
      position:absolute;
      top:25%;
      background-color: var(--ion-color-light);
      border:1px solid #ebe6e6;
      border-radius: 5px;
      box-shadow: 2px 2px 2px 2px #ccc;
      width:96% !important;
      margin:5px;
      
    }
    .signin{
        color:var(--ion-color-primary);
        ;
        font-size: 15px;
        margin-top:8px !important;
        
    }
    .signup{
        margin-top:8px !important;
        color:#6E7989 ;
        text-align: right;
        font-size: 15px;
        
    }
    .signin-seller{
      margin:10px;
      font-size: 19px;
      font-family: 'Roboto', sans-serif;
      color: #272A3F;
    }
    .emailTo-continue{
        font-size:14px;
        color:#6E7989;
        margin:10px;
    }
  
  
  
  .form-control:focus {
      box-shadow: none;
    }
    
    .form-control-underlined {
      border-width: 0;
      border-bottom-width: 1px;
      border-radius: 0;
      padding-left: 0;
    }
  
    .form-control::placeholder {
      font-size:12px;
      color:#6E7989;
      margin:10px;
    }
    .form-group{
        margin:10px;
    }
    .forgot-pw{
       color: #6E7989;
       font-size: 14px;
       margin:10px;
    }
    .signin-btn{
        background-color: var(--ion-color-primary);
        border:1px solid var(--ion-color-primary);
        margin-left:18px;
        color:var(--ion-color-light);
        
    }
    .new-background-color{
       --background: linear-gradient(to left, #23a6d5
      0%, #23d5ab
      100%) !important;
      // --background: #ee7752, #e73c7e, #23a6d5, #23d5ab !important;
      // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) !;
  }
  
  select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 1px solid #cccbc8 ;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #5C5C5C;
    background-color: var(--ion-color-light);
    background-image: none;
    cursor: pointer;
    border-radius: 5px;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
    
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    margin-left: 0%;
  
  }
  
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: transparent;
    color:var(--ion-color-primary) !important
    ;
    transition: .5s all ease;
    pointer-events: none;
    border-radius: 2px;
  }
  /* Transition */
  .select:hover::after {
    color: #121212;
  }
  
  select:focus > option:checked { 
    cursor: pointer;
    background-color: var(--ion-color-light);
  }
  
  option:hover {
    cursor: pointer;
  }
  
  .item-has-focus{
    --highlight-background: var(--ion-color-primary) !important;
  }
  .ion-label{
    --highlight-background: var(--ion-color-primary) !important;
  }
  
  // .my-custom-class {
  //   --backdrop-opacity: 7.5;
  //   --background: linear-gradient(90deg, rgba(165, 255, 192, 1) 1%, rgba(0, 212, 255, 1) 100%);
    
  // }
  
  .buttonCss {
    // --backdrop-opacity: 0.2;
    // --background: linear-gradient(90deg, rgba(165, 255, 192, 1) 1%, rgba(0, 212, 255, 1) 100%);
    button.alert-button:nth-child(1){
      color: var(--ion-color-primary);
    }
  
    button.alert-button:nth-child(2){
      color: var(--ion-color-success);
    }
  }
  
  svg{
    cursor:pointer;
  }
  
  .ios ion-header{
    --height: 62px !important;
  }
  ion-toolbar{
    --height: 62px !important;
  }
  
  
  #kg{
    background: linear-gradient(to left, #ff6f93
    0%, #eb154b
    100%);
    color:#fff;
    margin-left: -15px !important;
    border-radius: 3px !important;
    font-size: 10px !important;
    margin-top:4px;
   
  
  }
  

  .welcomecard{
    margin-top: 5%;
    background: rgba(49, 38, 38, 0.18);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

textarea{
  background-color: var(--ion-color-light);
}

textarea:focus{
  border-color: var(--ion-color-success) !important;
  box-shadow  : 0 0 4px 0 var(--ion-color-success) !important;
}

//------------ search bar -------------//@at-root

.search {
  text-align: center !important;
  justify-content: center !important;
  background-color: var(--ion-color-light);
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  width: 90%;
  border-radius: 100px!important;
}

.search input {
  height: 50px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  border-radius: 100px!important;
  background-color: var(--ion-color-light);
}

.search input:focus {
  box-shadow: none;
  border: 2px solid var(--ion-color-primary)
}

.search .fa-search {
  position: absolute;
  top: 17px;
  left: 16px
}

.search button {
  position: absolute;
  top: 2px;
  right: -20px;
  height: 50px;
  width: 110px;
  background: transparent ;
}



ion-chip{
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 5.5);
  margin-bottom: 10px;
  color: var(--ion-color-light) !important;
    background: linear-gradient(to right, #555c59
    0%, #1d1f1e
    100%);
    background:  var(--ion-color-primary) !important;
    border-radius: 16px;
    box-shadow: 1 4px 71px rgb(17 18 13 / 61%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
}

ion-input{
  color: var(--ion-color-secondary) !important;
}

.productName{

  color: var(--ion-color-secondary) !important;
}

.title{
  color: var(--ion-color-secondary) !important;
}

.subtitle{
  color: var(--ion-color-secondary-shade) !important;
}

.primaryTitle{
  color: var(--ion-color-primary) !important;

}

.validationtext{
  opacity:0.52;
  color: var(--ion-color-primary) !important;
}

ion-badge{
  color: var(--ion-color-primary) !important;
  font-size: 10px !important;
  border-radius: 4px;
  border:1px solid red !important;
  background-color:var(--ion-color-lihgt) !important ;
}


//-------------- buttons ------------------//


//------------ Secondary small button -------//
.secondarySmallBtn{
  background-color: var(--ion-color-secondary) !important; 
  color: var(--ion-color-light) !important;
  margin: 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  border-radius: 3px;
  font-size: 12px;
  height: 32px;
  text-transform: none;
}

.secondarySmallOutlineBtn{
  margin: 5px;
  background-color: transparent !important;
  border: 1px solid var(--ion-color-secondary) !important; 
  color: var(--ion-color-secondary) !important;
  border-radius: 3px;
  font-size: 12px;
  height: 32px;
  text-transform: none;
}


//------------ Secondary large button -------//

.secondaryLargeBtn{
  background-color: var(--ion-color-secondary) !important; 
  color: var(--ion-color-light) !important;
  margin: 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
  font-size: 17px;
  height: 38px;
  text-transform: none;
}

.secondaryLargelOutlineBtn{
  margin: 5px;
  background-color: transparent !important;
  border: 1px solid var(--ion-color-secondary) !important; 
  color: var(--ion-color-secondary) !important;
  border-radius: 6px;
  font-size: 17px;
  height: 38px;
  text-transform: none;
  text-align: center !important;
}


//------------ primary small button -------//
.primarySmallBtn{
  background-color: var(--ion-color-primary) !important; 
  color: var(--ion-color-light) !important;
  margin: 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  border-radius: 3px;
  font-size: 12px;
  height: 32px;
  text-transform: none;
}

.primarySmallOutlineBtn{
  margin: 5px;
  background-color: transparent !important;
  border: 1px solid var(--ion-color-primary) !important; 
  color: var(--ion-color-primary) !important;
  border-radius: 3px;
  font-size: 12px;
  height: 32px;
  text-transform: none;
  --box-shadow:none !important;
}


//------------ primary large button -------//

.primaryLargeBtn{
  background-color: var(--ion-color-primary) !important; 
  color: var(--ion-color-light) !important;
  margin: 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  border-radius: 3px;
  font-size: 17px;
  height: 36px;
  text-transform: none;
}

.primaryLargelOutlineBtn{
  margin: 5px;
  background-color: transparent !important;
  border: 1px solid var(--ion-color-primary) !important; 
  color: var(--ion-color-primary) !important;
  border-radius: 3px;
  font-size: 17px;
  height: 36px;
  text-transform: none;
  --box-shadow:none !important;
}


//----------- ios toolbar ---------//
ion-toolbar.ios{
  margin-top: 5% !important;
  --margin-top: 5% !important;
}