<ion-content class="ion-padding" >
  <div class="welcomecard p-3" style="margin-top: 25%;" >
    <div class="row">
      <div class="col-9">
        <h2 class="" ><b>Signup</b></h2>

      </div>

    </div>
    <div class="row ">
      <div class="col-12">
        <p class="get-started"><b>Getting Started</b></p>
        <p class="create-account  ">Create an account to continue!</p>
      </div>
     

    </div>



    <div class="row">
      <div class="col-{{MobInputcolSize}}">
        <ion-input style="color: #000000;" [(ngModel)]="username" (keyup)="usernameCheckFalse()"
          placeholder="Enter Your User Name" class="primary-input "></ion-input>
        <p class="small" style="color: #EB154B;" *ngIf="isUserNameAlert">Enter Your Username</p>

        <ion-input style="color: #000000;" [(ngModel)]="mailid" (keyup)="mailidCheckFalse()"
          placeholder="Enter Your Mail ID" class="primary-input mt-3"></ion-input>
        <p class="small" style="color: #EB154B;" *ngIf="isNotEmailAlert">Enter Valid Mail ID</p>

        <ion-input style="color: #000000;" [(ngModel)]="mobileNumber" (keyup)="MobileNumberCheckFalse()"
          placeholder="Enter Your Mobile Number" class="primary-input mt-3" maxlength="10" (keypress)="numberOnly($event)" type="text"></ion-input>
        <p class="small" style="color: #EB154B;" *ngIf="ValidNumber">Enter Valid Mobile Number</p>

        <ion-input style="color: #000000;" [(ngModel)]="password" (keyup)="passwordCheckFalse()"
          placeholder="Enter Your Password" class="primary-input mt-3" type="password"></ion-input>
        <p class="small" style="color:#EB154B;" *ngIf="passwordCheck">Your password must be 8-16
          characters, and include at least one lowercse letter, one uppercase letter, and a number</p>
      </div>
    </div>




  <div class="ion-margin-top">
    <ion-button class="secondarySmallBtn" [disabled]="otp == '' " expand="block" color="none" (click)="signUp()">SIGN UP</ion-button>

    <p class="text-center small mt-4">Already User ? <b (click)="signin()">Sign In</b></p>
  </div>

</div>


</ion-content>